body {
  font-family: gilroy-bold, -apple-system, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto;
  background-color: black;
  color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  cursor: none;
}

.my-icon {
  font-size: 2rem;
  color: #a2a2a2;
  padding: 0 0.5rem;
}

.icon-container {
  margin: -0.3rem;
}

.bold {
  font-size: 3rem;
  font-weight: bold;
}

.outer-container {
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

.content {
  color: #a2a2a2;
  width: 25rem;
}

span {
  transition: color 3s;
}

span:hover {
  transition: color 10ms;
}

.violet:hover {
  color: #57068c;
}

.orange:hover {
  color: #ffbb94;
}

.blue:hover {
  color: #c3fbfb;
}

.red:hover {
  color: #ff9397;
}

.pink:hover {
  color: #f2c1f1;
}

.yellow:hover {
  color: #ffe99d;
}

.tw:hover {
  color: #003d4f;
}

@media screen and (min-width: 800px) {
  .bold {
    font-size: 4.5rem;
    font-weight: bold;
  }

  .outer-container {
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .content {
    color: #a2a2a2;
    width: 60rem;
  }

  .my-icon {
    font-size: 2.5rem;
    color: #a2a2a2;
    margin: 0.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .bold {
    font-size: 4rem;
    font-weight: bold;
  }

  .outer-container {
    display: flex;
    align-items: center;
    padding: 3rem;
  }

  .content {
    color: #a2a2a2;
    width: 67rem;
  }

  .my-icon {
    font-size: 2.5rem;
    color: #a2a2a2;
    margin: 0.3rem;
  }
}
