body {
    font-weight: 500;
    color: white;
    
}

h2 {
    color: black;
    margin-left:135px;
    margin-right:35px
}

.col-lg-4{
    padding: 30px
}

.rounded-circle{
    margin:120px
}

p {
    color:black
}

.featurette-image {
    border-radius: 15px
}



#white {
    color: white
}

.lead {
    margin-left:10px;
}