.shapes {
    width: 200px;
    height: 130px;
    background-color: orange;
    border-radius: 70px;
    
}

#one {
    background-color: #ff6ea6;
    position: absolute;
    left:190px;
    top: 300px;
    opacity: 0.75
}

#two {
    background-color: #c899ff;
    position: absolute;
    left:230px;
    top: 400px;
    transform: rotate(135deg);
    opacity: 0.75
}

#three {
    background-color: #ff3333;
    position: absolute;
    left:220px;
    top: 230px;
    transform: rotate(45deg);
    opacity: 0.75
}

#four {
    background-color: #ff9933;
    position: absolute;
    left:300px;
    top: 190px;
    transform: rotate(90deg);
    opacity: 0.75
}

#five {
    background-color: #ffff33;
    position: absolute;
    left:390px;
    top: 230px;
    transform: rotate(135deg);
    opacity: 0.75
}

#six {
    background-color: #abd86e;
    position: absolute;
    left:420px;
    top: 300px;
     
    opacity: 0.75
}

#seven {
    background-color: #59f4c0;
    position: absolute;
    left:380px;
    top: 400px;
    transform: rotate(45deg);
    opacity: 0.75
}

#eight {
    background-color: #529bff;
    position: absolute;
    left:300px;
    top: 420px;
    transform: rotate(90deg);
    opacity: 0.7;
    
}

#frame {
    border:solid;
    height:500px;
    width:500px;
    margin-top: 120px;
    margin-left: 140px;
    border-radius: 100px;
    border-width: thin
    
}

body {
    background-color: 
}